.form-center-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing {
  /* min-height: 100vh; */
  background: linear-gradient(240deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.right-side {
  width: 50%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.right-side p {
  color: white;
}
.left-side {
  width: 50%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Raleway", sans-serif;
  font-weight: bolder;
  justify-content: center;
}
.landing h3,
h1,
p {
  color: white;
}
.branding {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 500px;
}
.login {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 500px;
}
.login-text {
  text-decoration: none;
  cursor: pointer;
  color: black;
}
@media screen and (max-width: 700px) {
  .right-side {
    width: 100%;
    display: block;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .left-side {
    display: none;
  }
  .landing {
    /* min-height: 100vh; */
    background: linear-gradient(257deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
  }
  .login {
    width: 90%;
  }
}
